{% block content %}
<!DOCTYPE html>
<html>
    <head>
        {% load i18n static %}
        <meta charset="utf-8" />
        <title>Decide Pícaro - {% trans "Log in" %}</title>
        <link rel="shortcut icon" type="image/png" href="../../static/favicon/picaro.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../static/css/mfb.css" >
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container d-flex p-2 justify-content-center">
        <aside class="col-sm-4">
    
        <div class="card">
            <h4 class="card-title mb-4 mt-1 text-center">{% trans "Log in" %}</h4>
        <article class="card-body">	
            <p>
                <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-outline-info"> <i class="fa fa-twitter"></i> {% trans "Login via Twitter" %}</a>
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-outline-primary"> <i class="fa fa-facebook-f"></i> {% trans "Login via Facebook" %}</a>
            </p>
            <hr>
            <form method="post">
                {% csrf_token %}
            <div class="form-group">
                <input name="username" class="form-control" placeholder="Username" type="text" value="username">
            </div> <!-- form-group// -->
            <div class="form-group">
                <input name ="password" value="password" class="form-control" placeholder="******" type="password">
            </div> <!-- form-group// -->                                      
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button>
                    </div> <!-- form-group// -->
                </div>
                <div class="col-md-6 text-right">
                    <a href="../registergui" class="float-right btn btn-outline-primary">{% trans "Register user" %}</a>
                </div>                                            
            </div> <!-- .row// -->                                                                  
        </form>
        </article>
        </div> <!-- card.// -->
        </aside> <!-- col.// -->
        </div> <!-- container.// -->
    </body>
</html>
{% endblock %}
{% block extrabody %}
<!-- VIEW MODES WITH COOKIES -->
<script>
    function setCookie(cookieName, cookieValue, expiresDays) {
         var today = new Date();
         today.setTime(today.getTime() + (expiresDays * 24 * 60 * 60 * 1000));
         var expires = "expires=" + today.toGMTString();
         document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
     }

     function getCookie(cookieName) {
         var name = cookieName + "=";
         var cookies = decodeURIComponent(document.cookie).split(';');
         for (var i = 0; i < cookies.length; i++) {
             var c = cookies[i];
             while (c.charAt(0) == ' ') {
                 c = c.substring(1);
             }
             if (c.indexOf(name) == 0) {
                 return c.substring(name.length, c.length);
             }
         }
         return "";
     }

     function checkCookie() {
         if (getCookie("theme") == "dark") {
             activateDarkMode();
         } 
     }
     window.onload = checkCookie();

     // Light mode and dark mode scripts
     function activateLightMode() {
         document.body.className = "bg-light"
         document.getElementById("lightButton").style.display = "none"
         document.getElementById("darkButton").style.display = "inline"
         document.getElementById("text").style.color = "black"
         setCookie("theme", "light", 365);
     }

     function activateDarkMode() {
         document.body.className = "bg-dark"
         document.getElementById("lightButton").style.display = "inline"
         document.getElementById("darkButton").style.display = "none"
         document.getElementById("text").style.color = "white"
         setCookie("theme", "dark", 365);
     }
 </script>
 {% endblock %}